@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

#site-logo {
    width: 62px;
    height: 56px;
    padding: 0.5em 0;
    background-image: url("/cobrands/prijaviresi/images/osnova-boja.png");
    background-position: 0 20%;
    background-repeat: no-repeat;
    background-size: 62px 56px;
}